/**
 * Created by WebStorm.
 * User: FEI
 * Date: 2019/3/22
 * Time: 11:49
 */
.fei-store-album-box {
  padding: 0 20px;
  height: 100%;
  width: 100%;
  font-size: 14px; }
  .fei-store-album-box .fei-store-album-title {
    background: white;
    padding: 30px 20px;
    font-size: 12px;
    height: auto;
    width: 100%; }
    .fei-store-album-box .fei-store-album-title .ant-divider, .fei-store-album-box .fei-store-album-title .ant-divider-vertical {
      height: 100%;
      margin: 0; }
    .fei-store-album-box .fei-store-album-title .ant-form-item, .fei-store-album-box .fei-store-album-title .tab {
      margin-bottom: 15px; }
    .fei-store-album-box .fei-store-album-title .tab-btn {
      color: #03A861;
      background: #fff;
      border: none;
      outline: none;
      box-shadow: none; }
    .fei-store-album-box .fei-store-album-title .tab-btn-selected {
      background: #03A861;
      color: #fff;
      border: none;
      outline: none;
      box-shadow: none; }
    .fei-store-album-box .fei-store-album-title .type-btn {
      padding-right: 30px;
      cursor: pointer;
      color: #333; }
    .fei-store-album-box .fei-store-album-title .type-btn-selected {
      padding-right: 30px;
      cursor: pointer;
      color: #03A861; }
    .fei-store-album-box .fei-store-album-title .album-title-left {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .fei-store-album-box .fei-store-album-title .album-title-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
  .fei-store-album-box .fei-store-album-content > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    margin-top: -45px;
    padding-right: 20px;
    padding-bottom: 125px;
    min-height: 300px; }
    .fei-store-album-box .fei-store-album-content > div .img-box, .fei-store-album-box .fei-store-album-content > div .video-box {
      cursor: pointer;
      width: 20%;
      height: 180px;
      padding-top: 20px;
      padding-left: 20px;
      position: relative;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(1), .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(1) {
        position: relative;
        border: 1px solid #f8f8f8;
        border-radius: 5px;
        overflow: hidden;
        height: 100%;
        width: 100%; }
        .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(1) img, .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(1) video, .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(1) img, .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(1) video {
          width: 100%;
          height: 100%; }
        .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(1) .video-play-btn, .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(1) .video-play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 50px;
          width: 50px;
          transform: translate(-50%, -50%); }
      .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(2), .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(2) {
        position: relative;
        bottom: 30px;
        width: 100%;
        font-size: 14px;
        color: #fff;
        background: black;
        opacity: 0.52;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 5px 5px; }
        .fei-store-album-box .fei-store-album-content > div .img-box > div:nth-child(2) > span:hover, .fei-store-album-box .fei-store-album-content > div .video-box > div:nth-child(2) > span:hover {
          color: #03A861; }

/*# sourceMappingURL=style.css.map */
